.carousel-wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media (min-width: 800px) {
  .carousel-wrapper {
    width: 50vw;
    position: static;
    margin: 0 auto;
  }
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-card {
  min-width: 150px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-text);
}

.navigation-bar {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.navigation-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #50abcf;
  cursor: pointer;
}